/* nav bar start */
.LinkHoverBlue:hover{
    color: rgb(13, 110, 253);
}
.LinkHoverBlue:local-link{
    color: rgb(13, 110, 253);
}
.text-bg-primary{
    background-color: #946b46 !important;
}
.nfButton{
    transition: all 0.5s !important;
}
.nfButton:hover{
    background-color: #223749 !important;
}
.logo-size{
    width: 170px;
    height: 120px;
}
.bg-nav{
    background-color: #f7f2ee;
    height: 100px;
}
.dropdown-color{
    background-color: #f7f2ee;
}
.navbar-collapse{
    background-color: #f7f2ee;
    z-index: 1;
}
.SignIn-size{
    width: 90px;
}
.mleft-90{
    margin-left: -90px;
}
.mleft-60{
    margin-left: -60px;
}
.mtop-25{
    margin-top: -25px;

}
.bg-dark{
    background-color: #493522 !important; 
}
@media screen and (width<992px){
    .bg-nav{
        height: 154px;
    }
}
@media screen and (width<401px){
    .bg-nav{
        height: 210px;
    }
}
/* nav bar end */
/* page header start */
.bg-header{
    background: url(./Pictures-Bita/watch-4638673_1280-min.jpg);
    background-size:cover;
    background-position:center;
}
.py-5{
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
}
.mb-5{
    margin-bottom: 3rem !important;
}
.image-size{
    width: 1555px;
    height: 400px;
}
/* page header end */
/* main start */
.light{
    color: #efe5dc;
}
.hoverlight:hover{
    color: #b6cadd !important;
}
.bgblur{
    backdrop-filter: blur(2px);
}
/* main end */
/* footer start */
.plAndr{
    padding: 0 50px;
}
.no-decoration{
    text-decoration: none;
}
.mtop-OneAndhalf{
    margin-top: 1.5px;
}
.mleft-12{
    margin-left: -12px;
}
.form-control::placeholder{
    color: #6c757d;
}
.btn-info{
    background-color: #946b46;
}
.po-search{
    transition: all 0.5s;
    border: 1px solid #946b46 !important;
}
.po-search:hover{
    background-color: #223749 !important;
}
.po-search:focus{
    border: 3px solid #efe5dc !important; 
}
.mtop-20{
    margin-top: -20px;
}
.button-size{
    width: 48px;
    height: 48px;
}
.backtotop{
    position: fixed;
    right: 15px;
    bottom: 30px ;
    background-color: #946b46;
}
.iconHover{
    transition: all 0.5s;
}
.iconHover:hover{
    color: rgb(86, 240, 240) !important;
    border: 1px solid white !important;
}
.bigger{
    transition: all 0.3s;
}
.bigger:hover{
    color: white !important;
    transform: scale(1.1) translateX(5px);
}
.cfHover:hover{
    color: white !important;
}
/* footer end */