/* nav bar start */
li a:hover{
    color: blue !important;
}
li a:local-link{
    color: blue !important;
}
button{
    transition: all 0.5s !important;
}
button:hover{
    background-color: rgb(86, 240, 240) !important;
}
.logo-size{
    width: 170px;
    height: 120px;
}
.bg-nav{
    background-color: #f7f2ee;
    height: 100px;
}
.SignIn-size{
    width: 90px;
}
.mleft-90{
    margin-left: -90px;
}
.mleft-60{
    margin-left: -60px;
}
.mtop{
    margin-top: -25px;

}
.bg-dark{
    background-color: #223749 !important;
}
@media screen and (width<992px){
    .bg-nav{
        height: 154px;
    }
}
@media screen and (width<401px){
    .bg-nav{
        height: 210px;
    }
}
@media screen and (width<1400px) {
    .responsive{
        display: none;
    }
}
/* nav bar end */