/* nav bar start */
li a:hover{
    color: rgb(13, 110, 253) !important;
}
li a:local-link{
    color: rgb(13, 110, 253) !important;
}
.text-bg-primary{
    background-color: #946b46 !important;
}
.button{
    transition: all 0.5s !important;
}
.button:hover{
    background-color: #223749 !important;
}
.logo-size{
    width: 170px;
    height: 120px;
}
.bg-nav{
    background-color: #f7f2ee;
    height: 100px;
}
.dropdown-color{
    background-color: #f7f2ee;
}
.SignIn-size{
    width: 90px;
}
.mleft-90{
    margin-left: -90px;
}
.mleft-60{
    margin-left: -60px;
}
.mtop-25{
    margin-top: -25px;

}
.bg-dark{
    /* background-color: #223749 !important; */
    background-color: #493522 !important; 
    /* color chosen was the best, you can try the colors yourself to see:) */
    /* background-color: #946b46 !important; */
}
@media screen and (width<992px){
    .bg-nav{
        height: 154px;
    }
}
@media screen and (width<401px){
    .bg-nav{
        height: 210px;
    }
}
/* nav bar end */


/* header start */
.header {
    position: relative;
    background: url(../imgs/header2.jpg);
    background-size: cover;
    background-position: center;
}

/* header end */


/* main start */
.para {
    font-size: 20px;
    margin-top: 70px;
    margin-bottom: 70px;
}

.border-con {
    background-color: #493522;
    border-radius: 10px;
}
.callus {
    width: 45px ;
    height: 45px ;
}

.subscribe {
    background-color: #946b46;
}

.subscribe:hover {
    background-color: #a69687 !important;
}
/* main end */

/* footer start */
.plAndr{
    padding: 0 50px;
}
.no-decoration{
    text-decoration: none;
}
.mtop-OneAndhalf{
    margin-top: 1.5px;
}
.mleft-12{
    margin-left: -12px;
}
.form-control::placeholder{
    color: #6c757d;
}
.btn-info{
    background-color: #946b46;
}
.po-search{
    position: relative;
    right: 25%;
    top: 5px;
    height: 40px;
    width: 100px;
    transition: all 0.5s;
    border: 1px solid #946b46 !important;
}
.po-search:hover{
    background-color: #223749 !important;
}
.po-search:focus{
    border: 3px solid #efe5dc !important; 
}
.form-control{
    height: 50px;
}
.mtop-20{
    margin-top: -20px;
}
.button-size{
    width: 48px;
    height: 48px;
}
.backtotop{
    position: fixed;
    right: 15px;
    bottom: 30px ;
    background-color: #946b46;
}
.iconHover{
    transition: all 0.5s;
}
.iconHover:hover{
    color: rgb(86, 240, 240) !important;
    border: 1px solid white !important;
}
.bigger{
    transition: all 0.3s;
}
.bigger:hover{
    color: white !important;
    transform: scale(1.1) translateX(5px);
}
.link-info:hover{
    color: white !important;
}
/* footer end */