@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



li a:hover{
    color: blue !important;
}
li a:local-link{
    color: blue !important;
}
button{
    transition: all 0.5s !important;
}
button:hover{
    background-color: rgb(86, 240, 240) !important;
}
.logo-size{
    width: 170px;
    height: 120px;
}
.bg-nav{
    background-color: #f7f2ee;
    height: 100px;
}
.SignIn-size{
    width: 90px;
}
.mleft-90{
    margin-left: -90px;
}
.mleft-60{
    margin-left: -60px;
}
.mtop{
    margin-top: -25px;

}
.bg-dark{
    background-color: #223749 !important;
}
@media screen and (width<992px){
    .bg-nav{
        height: 154px;
    }
}
@media screen and (width<401px){
    .bg-nav{
        height: 210px;
    }
}
@media screen and (width<1400px) {
    .responsive{
        display: none;
    }
}


/* **************************main*************************** */
main{
    width: 100%;
    min-height: fit-content;
    font-family: 'Poppins', sans-serif;
}

.img{
    border: 2px solid black;
}
.title h3{
    /* font-size: 2re; */
    font-weight: 700;
}

.title p{
    font-size: medium;
    font-weight: 300;
}

  
.social-media {
    column-gap: 1rem;
}


.card{
    /* height: ; */
    position: relative;
}

.card-body{
    height: 50%;
    transition: 0.5s;
}

.team-text{
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    bottom: -5%;
    opacity: 0;
    transition: 0.5s;
}

.card:hover .team-text{
    /* background-color: antiquewhite; */
    opacity: 1;
    bottom: 10%;

}
.card:hover .card-body{
    background-color: black !important;
    opacity: 0;
    /* bottom: 10%; */

}

.bg-white{
    background-color: white;
}

i{
    color: blue !important;
}
