@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



li a:hover{
    color: blue !important;
}
li a:local-link{
    color: blue !important;
}
header button{
    transition: all 0.5s !important;
}
header button:hover{
    background-color: rgb(86, 240, 240) !important;
}
.logo-size{
    width: 170px;
    height: 120px;
}
.bg-nav{
    background-color: #f7f2ee;
    height: 100px;
}
.SignIn-size{
    width: 90px;
}
.mleft-90{
    margin-left: -90px;
}
.mleft-60{
    margin-left: -60px;
}
.mtop{
    margin-top: -25px;

}
.bg-dark{
    background-color: #223749 !important;
}
@media screen and (width<992px){
    .bg-nav{
        height: 154px;
    }
}
@media screen and (width<401px){
    .bg-nav{
        height: 210px;
    }
}
@media screen and (width<1400px) {
    .responsive{
        display: none;
    }
}



/* ************************header-image********************** */
.head-img-sec{
    height: 310px;
}

.head-img-inner{
    background: linear-gradient(0.25turn, #efe5dc50, #efe5dc50, #946a4650, #49352235), url(images/book5.jpg) 1px;
    background-size: cover;

}
.head-img-inner div{
    /* background-color: aqua; */
}
.head-img-inner h1{
    color: black;
}
.head-img-inner3{
    background: linear-gradient(0.25turn, #946a4660, #49352280, #49352280, #efe5dc10, #efe5dcb2), url(images/book4.jpg) 100%;
    background-size: cover;
}

.breadcrumb a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.breadcrumb a:hover{
    color: #b6cadd !important;
}
.breadcrumb li:nth-child(3){
    color: #b6cadd;
    font-weight: 500;
}

/* **************************main*************************** */
main{
    width: 100%;
    min-height: fit-content;
    font-family: 'Poppins', sans-serif;
}

#instructors h3{
    /* font-weight: 900 !important; */
}
.img{
    /* border: 2px solid black; */
    max-width: 500px;
    transition: 0.5s;
}



.card{
    border: 0;
    /* border: 2px solid black; */
    position: relative;
    box-shadow: 0 0px 45px rgba(0, 0, 0, 0.07);
    overflow: hidden;
}

.card-body{
    height: 50%;
    transition: 0.5s;
}

.team-text{
    /* border: 2px solid red; */
    border-top-right-radius: 0px;
    position: absolute;
    background-color: white;
    width: 100%;
    left: 0;
    bottom: -5%;
    opacity: 0;
    transition: 0.5s;
}

.card:hover .team-text{
    /* background-color: antiquewhite; */
    opacity: 1;
    bottom: 0;

}
.card:hover .card-body{
    /* background-color: black !important; */
    opacity: 0;
    /* bottom: 10%; */

}
.card:hover .img{
    transform: scale(1.1);

}

.bg-white{
    background-color: white;
}


/* *****************links**************** */

#instructors .btn{
    cursor: pointer;
    border: 0;
    background-color: #F6F7FC;
    padding: 6px 10px !important;
    border-radius: 10px;
}
#instructors .btn:hover{
    background-color: #0d6efd;    /*--primary*/
}
#instructors .btn:hover i{
    color: #F6F7FC !important;
}
/******************************************/


span{
    color: #696E77;
    font-size: 0.85rem;
}



/* *****************back to top btn************************ */

.back-to-top .btn{
    position: fixed;
    /* display: none; */
    right: 30px;
    bottom: 30px;
    z-index: 99;
    padding: 10px 14px;
    transition: all 0.5s;
    background-color: #223749;
    
}
.back-to-top i{
    color: #efe5dc;
}


.back-to-top:hover .btn{
    border-color: #b6cadd;      /*--info*/
    background-color: #b6cadd;
}
/* ****************************************************** */

.carousel-item img{
    /* border: 10px solid black; */
    /* display: flex; */
    /* justify-content: center; */
    max-width: 100px;
    height: 100px;
}

#carouselExampleDark{
    /* border: 2px solid green; */
    width: 40%;
}
#publishers{
    /* border: 2px solid black; */
    width: 100%;
}
@media (max-width: 991px) {
    #carouselExampleDark{
        width: 100%;
    }
}

.carousel-inner{
    /* border: 2px solid red; */
    width: 100%;
}
.carousel-inner .carousel-item:first-child{
    /* border: 10px solid black; */
}

.carousel-inner .carousel-item:nth-child(2){
    /* border: 10px solid green; */
}

.carousel-inner .carousel-item:last-child{
    /* border: 10px solid red; */
}

.carousel-control-buttons .btn{
    width: 40px;
    height: 40px;
    position: static;
    /* margin-top: 30%; */
    background-color: #0d6efd;    /*--primary*/
    opacity: 1 !important;
    transition: all 0.5s;

}


.carousel-control-buttons .btn:hover{
    border-color: rgb(86, 240, 240);      /*--info*/
    background-color: rgb(86, 240, 240);


}



.one img{
    width: 70px;
    height: 70px;    
    border: 1px dashed #0d6efd;
    padding: 4px;

}

.two img{
    width: 50px;
    height: 50px;
    border: 1px dashed #0d6efd;
    padding: 4px;
}

.three img{
    width: 40px;
    height: 40px;
    border: 1px dashed #0d6efd;
    padding: 4px;
}

.carousel4 img {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-name: rotation;
}
  
@keyframes rotation {
    0% {
        transform: scale(1);
      }

      50% {
        transform: scale(1.05);
      }

      100% {
        transform: scale(1);
      }
}