/* nav bar start */
li a:hover{
    color: blue !important;
}
li a:local-link{
    color: blue !important;
}
.button{
    transition: all 0.5s !important;
}
.button:hover{
    background-color: rgb(86, 240, 240) !important;
}
.logo-size{
    width: 170px;
    height: 120px;
}
.bg-nav{
    background-color: #f7f2ee;
    height: 100px;
}
.SignIn-size{
    width: 90px;
}
.mleft-90{
    margin-left: -90px;
}
.mleft-60{
    margin-left: -60px;
}

.bg-dark{
    background-color: #223749 !important;
    background-color: #493522 !important; 
    /* color chosen was the best, you can try the colors yourself to see:) */
    background-color: #946b46 !important;
}
@media screen and (width<992px){
    .bg-nav{
        height: 154px;
    }
}
@media screen and (width<401px){
    .bg-nav{
        height: 210px;
    }
}
@media screen and (width<1400px) {
    .responsive{
        display: none;
    }
}
/* nav bar end */

/* header start */
.hd-img {
    position: relative;
    background: url(header.webp);
    background-size: cover;
}

/* header end */


/* main start */
.img-fluid {
    width: 200px;
    height: 200px;
    object-fit: cover;
    
}

.cover0 {
    min-height: 400px
}

.cover1 {
    object-fit: cover;
}
/* main end */