/* header start */
.container-fluid {
    position: relative;
    background: url(header.webp);
    background-size: cover;
}

/* header end */


/* main start */
.img-fluid {
    width: 200px;
    height: 200px;
    object-fit: cover;
    
}

.cover0 {
    min-height: 400px
}

.cover1 {
    object-fit: cover;
}
/* main end */